<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tələbə qeydiyyatı</title>
</head>
<body>

<a th:href="@{/students}">Tələbələr</a>

<br/>
<form th:action="@{/students/save}" method="post" th:object="${student}">
    <label for="student-name">Ad:</label>
    <input type="text" id="student-name" th:field="*{name}"><br/>

    <label for="student-surname">Soyad:</label>
    <input type="text" id="student-surname" th:field="*{surname}"><br/>

    <label for="student-phone">Telefon:</label>
    <input type="text" id="student-phone" th:field="*{phone}"><br/>

    <label for="student-address">Ünvan:</label>
    <textarea id="student-address" th:field="*{address}"></textarea><br/>

    <label for="student-email">Email:</label>
    <input type="email" id="student-email" th:field="*{email}"><br/>

    <label for="student-birthday">Təvəllüd:</label>
    <input type="date" id="student-birthday" th:field="*{birthday}"><br/>

    <label for="student-sector">Sektor:</label>
    <select id="student-sector" th:field="*{sector}">
        <option th:each="s:${sectors.entrySet()}"
                th:value="${s.getKey()}" th:text="${s.getValue()}"/>
    </select><br/>

    <input type="submit" value="Yadda saxla">
</form>
</body>
</html>